# Auto detect text files and perform LF normalization
* text=auto

# Force LF for these files
*.ts text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.less text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.properties text eol=lf

# GitHub Linguist overrides
*.html linguist-vendored
*.less linguist-vendored
